<div class="flex-fill d-flex flex-column justify-content-center">
  <div class="container-tight mt-12">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-7 col-xl-6">
        <div class="text-center my-3">
          <img class="circle img-fluid logo-auth" src="https://avatars.githubusercontent.com/u/131226056?v=4" alt="">
        </div>
        <div class="theme-toggle-container fixed-bottom mb-3 me-3 d-flex justify-content-end">
          <a href="javascript:void(0)" (click)="toggleTheme()" class="btn btn-floating theme-toggle hide-theme-dark"
             data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Enable dark mode"
             data-bs-original-title="Enable dark mode">
            <i class="icon ti ti-moon"></i>
          </a>
          <a href="javascript:void(0)" (click)="toggleTheme()" class="btn btn-floating theme-toggle hide-theme-light"
             data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Enable light mode"
             data-bs-original-title="Enable light mode">
            <i class="icon ti ti-brightness-up"></i>
          </a>
        </div>
      
        <div class="card">
          <div class="card-header">
            <h1>Calculadora de porcentajes</h1>
          </div>
          <div class="container-tight">
          </div>

          <form name="form" #form="ngForm" (ngSubmit)="form.form.valid && calculate()" novalidate>
            <div class="card-body">
              <div class="">
                <label class="form-label" for="username">Precio base</label>
                <label>Indique el precio base del producto.</label>
                <div class="input-icon">
                  <span class="input-icon-addon">$</span>
                  <input type="text" class="form-control" #basePrice="ngModel"
                    [ngClass]="{'is-invalid': form.submitted && basePrice.invalid}"
                    [(ngModel)]="calculator.basePriceString" [name]="'basePrice'" [id]="'basePrice'"
                    placeholder="1000.00" [imask]="currencyMask" [unmask]="true" required>
                </div>
                <div *ngIf="form.submitted && basePrice.errors?.['required']" class="invalid-feedback">
                  El precio es requerido.
                </div>
              </div>

              <div class="my-4">
                <label class="form-label" for="discordName">Precio final Deseado</label>
                <label>Indique cual es el precio que desea.</label>
                <div class="input-icon">
                  <span class="input-icon-addon">$</span>
                  <input type="text" class="form-control" #finalPrice="ngModel"
                    [ngClass]="{'is-invalid': form.submitted && finalPrice.invalid}"
                    [(ngModel)]="calculator.finalPriceString" [name]="'finalPrice'" [id]="'finalPrice'"
                    placeholder="1000.00" [imask]="currencyMask" [unmask]="true" required>
                </div>
                <div *ngIf="form.submitted && basePrice.errors?.['required']" class="invalid-feedback">
                  El precio es requerido.
                </div>
              </div>
              <div class="form-footer mt-4">
                <div>
                  <button type="submit" class="btn btn-primary me-2" [disabled]="isLoading">
                    <ng-container *ngIf="!isLoading">Calcular</ng-container>
                    <ng-container *ngIf="isLoading">
                      <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                      Loading...
                    </ng-container>
                  </button>
                  <button type="button" (click)="deleteData()" class="btn btn-secundary me-2" [disabled]="isLoading">
                    <ng-container *ngIf="!isLoading">Borrar Datos</ng-container>
                    <ng-container *ngIf="isLoading">
                      <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                      Loading...
                    </ng-container>

                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="showDialogConfirm" [modal]="true" [closable]="false" [style]="{ width: '450px' }"
  styleClass="modal-content">
  <ng-template pTemplate="header">
    <h5 class="modal-title">Are you sure about your answers?</h5>
  </ng-template>

  <div class="strong">This action cannot be undone.
  </div>
</p-dialog>


<p-dialog [(visible)]="showDialog" [modal]="true" [closable]="false" [style]="{ width: '450px' }"
  styleClass="modal-content">
  <ng-template pTemplate="header">
    <div *ngIf="discountPercentage !== null">
    </div>
    <h5 class="modal-title"> El porcentaje de descuento necesario es <span>
      </span>
    </h5>
  </ng-template>
  <div class="result-container" *ngIf="discountPercentage !== null">
    <div class="result">
      <span class="discount">{{ discountPercentage.toFixed(2) }}%</span>
    </div>
  </div>

  <br>
  <!-- <div>
    <p class="strong">Que vas hacer de comida?</p>
  </div> -->

  <!-- <div class="d-flex flex-wrap gap-3 mt-3">
    <div class="d-flex align-items-center custom-radio">
      <p-radioButton name="cancel" [(ngModel)]="foodSelect" [value]="foodSelectOptions.chilaquiles"
        inputId="chilaquiles"></p-radioButton>
      <label for="chilaquiles" class="ms-2">Chilaquiles verdes</label>
    </div>
    <div class="d-flex align-items-center custom-radio">
      <p-radioButton name="cancel" [(ngModel)]="foodSelect" [value]="foodSelectOptions.pastel"
        inputId="pastel"></p-radioButton>
      <label for="pastel" class="ms-2">Pastel de carne</label>
    </div>
  </div> -->
  <br>
  <!-- <ng-container> -->
  <ng-container *ngIf="foodSelect === foodSelectOptions.chilaquiles">
    <div>
      <div class="text-center my-3">
        <img class="circle img-fluid logo-auth" src="./assets/img/pastel.jpeg" alt="">
      </div>
      <p class="text-center strong">
        Yo compro la coca!
      </p>
    </div>
  </ng-container>
  <!-- <ng-container *ngIf="foodSelect === foodSelectOptions.pastel"> -->
  <ng-container>
    <div>
      <div class="text-center my-3">
        <img class="circle img-fluid logo-auth" src="./assets/img/precio.jpeg" alt="">
      </div>
      <p class="text-center strong">
        La quiero mucho!
      </p>
    </div>
  </ng-container>

  <ng-template #noData>
    <div>Selecione un tipo de comida</div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="modal-footer">
      <button type="button" class="btn btn-secundary me-2" (click)="showDialog = false">
        Cerrar
      </button>
    </div>
  </ng-template>
</p-dialog>