<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/#" [routerLink]="['/home']">
              <span class="nav-link-title">
                Home
              </span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#" [routerLink]="['/leads']" routerLinkActive="active">
              <span class="nav-link-title">
                Leads
              </span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#" [routerLink]="['/clients']">
              <span class="nav-link-title">
                Clientes
              </span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#" [routerLink]="['/evaluators']">
              <span class="nav-link-title">
                Poligrafistas
              </span>
            </a>

          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/#" [routerLink]="['/licenses']">
              <span class="nav-link-title">
                Licencias
              </span>
            </a>

          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/#" [routerLink]="['/businesses']">
              <span class="nav-link-title">
                Empresas
              </span>
            </a>

          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/#" [routerLink]="['/users']">
              <span class="nav-link-title">
                Usuarios
              </span>
            </a>

          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/#" [routerLink]="['/evaluations']">
              <span class="nav-link-title">
                Evaluaciones
              </span>
            </a>

          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/#" [routerLink]="['/employees']">
              <span class="nav-link-title">
                Evaluados
              </span>
            </a>

          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/#" [routerLink]="['/programming']">
              <span class="nav-link-title">
                Programación
              </span>
            </a>
          </li>
        </ul>
        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" href="/#" [routerLink]="['/settings']">
                <span class="nav-link-title">
                  Configuración
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>